.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}
/* .App-logo-video {
  height: 10vmin;
  pointer-events: none;
} */
/* header styles*/
.App-header { 
  background-color: #cdd0d5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.crumb {
  display: inline-block;
  margin: 20px;
  padding: 0 20px 0 20px;
 
}
.container {
  background-color: #db9575;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.section {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}


.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}