.App {
top: 0rem;
	background-color: #282c34;
  text-align: center;
}

/*rotate image-03 css*/
.App-logo {
	position: relative;
	top: 2rem;
	justify-content: center;
	align-items: center;
	width: 50rem;
	height: 50rem;
	
	-webkit-animation: spin 5s linear infinite;
	-moz-animation: spin 5s linear infinite;
	animation: spin 5s linear infinite;
	
}

/*use keyframes*/
@-webkit-keyframes spin{
	100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
	100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
	100%{-webkit-transform: rotate(360deg);}
}



.App-header { 
	

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
	
  color: #61dafb;
}

.heart {
	
  color: #ff0000;
}

.small {
	
  font-size: 0.75rem;
}
