.App {
  text-align: left;
  font-family: Roboto, Helvetica !important;
}

h1 {
  font-size: 34px;
  font-weight: 900;
  margin: 0;
  padding: 0 0 0 20px;
  display: flex;
  justify-content: flex-start;
  padding: 0 0 0 20px;
}

h2 {
  font-size: 22px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0 0 0 20px;
}

h3 {
  font-size: 16px;
  margin: 0;
  display: flex;
}

p {
  margin: 20px 0 5px;
}

.samples {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  background: #BCD2EE;
  width: auto;
}

.contact {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  background: #f17300;
  color: black;
  width: auto;
}

.samples li,
.contact li {
  list-style: none;
  display: flex;
  list-style: none;
  margin: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
}

.samples li a,
.contact li a {
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  width: 90px;
  text-align: center;
}


#root {    
  background-color: transparent;
  /* min-height: 2000px; */
}

.hide-a11y {
  position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.App-footer {
  background-color: #f17300;
  min-height: 100px;
  display: flex;
}

.App-main {
  padding: 0;  
}

a {
  color: black;
}

ul li a:hover {
  color: black;
  text-decoration: none !important;
  border: 1px solid transparent !important;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.stripes {
  width: 30%;
  opacity: 0.5;
  height: 45%;
}

.bubble {
  width: 50%;
  opacity: 0.5;
  height: 50%;
}

.row {
  display: flex;
}

.App-header {
  display: flex;
  color: black;
  padding: 20px 0;
  width: 100%;
  background-color: #1C77C3;
}

.App-grid-header {
  display: flex;
  flex-direction: column;
  background-color: #1C77C3;
  margin: 0;
  width: 100%;
  color: white;
  justify-content: center;
}

.App-grid-a {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0;
  margin-right: 0;
}

.App-grid-a p {
  padding-left: 0;
  line-height: 1.5;
}

.bio-title {
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bio-text {
  margin: 0;
  width: 100%;
}

.title {
  margin: 0;
  width: 100%;
}

.App-grid-b {
  padding: 30px;
  display: inline-flex;
  width: 30%;
  /*background-image: url(ht-7-inch.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 1200px;
  position: absolute;
  right: 0;
  bottom: 20px;*/
}

.App-grid-c {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.hide-small {
  display: none;
}

@media only screen and (min-width: 1000px) {

  .App-grid-header {
    margin: 0 17%;
  }

  .hide-small {
    display: inline-flex;
  }

  .App-grid-a {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
  }

  .App-grid-c {
    display: flex;
    flex-direction: column;
    margin: 20px 19% 0;
  }

  .samples {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #BCD2EE;
    width: 100%;
    flex-direction: row;
  }

  .contact li a {
    width: 170px;
  }

  .samples li a {
    width: 170px;
  }

  .contact {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }

}
